{{> includes/head}}

<div class="container mt-5">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h1 class="featurette-heading">{{record.heading}}</h1>
            <h2>{{record.artist}}</h2>
            <ul>
                <li>Catalogue number: {{record.catalogueNumber}}</li>
                <li>Release year: {{record.releaseYear}}</li>
                <li>Format: {{record.format}}</li>
                <li>Label: {{record.label}}</li>
                <li>Comment: {{record.comment}}</li>
                <li>Variant: {{record.variant}}</li>
            </ul>
        </div>
        <div class="col-md-5 order-md-1">
            {{#record.hasCover}}
                <img class="featurette-image img-fluid mx-auto" src="{{record.coverFront}}">
            {{/record.hasCover}}
            {{^record.hasCover}}
                <img class="featurette-image img-fluid mx-auto" src="http://via.placeholder.com/600x600">
            {{/record.hasCover}}
        </div>
    </div>
</div>
{{> includes/footer}}