{{> includes/head}}

<section class="jumbotron text-center mb-0">
    <div class="container">
        <h1 class="jumbotron-heading">OG LP CATALOGUE</h1>
        <p class="lead text-muted">Small Kotlin project mapping my record collection with connection to Discogs for obtaining collection value.</p>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {{#hottestRecords}}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        {{#hasCover}}
                            <img class="card-img-top" src="{{coverFront}}" alt="{{heading}}">
                        {{/hasCover}}
                        {{^hasCover}}
                            <img class="card-img-top" src="http://via.placeholder.com/600x600" alt="{{heading}}">
                        {{/hasCover}}
                        <div class="card-body">
                            <h3><a href="/record/{{id}}">{{heading}}</a></h3>
                            <h4>{{artist}}</h4>
                        </div>
                    </div>
                </div>
            {{/hottestRecords}}
        </div>
    </div>
</div>

{{> includes/footer}}